<section class="hero has-background-light is-fullheight">
    <div class="hero-body custom-body">
      <div class="container">
        <h1 class="title"></h1>
        <h2 class="subtitle">
          Comencé en el diseño y desarrollo web hace 3 años, con Php utilizando el framework 
          Laravel en una intranet para un cliente, y a su vez en Javascript e interesado mas en este último lenguaje,
          empleando Linux (Xubuntu, Lubuntu, Ubuntu, ElementaryOS) como S.O. de desarrollo, para luego abordar a angulajs y finalmente
          Angular, de la mano de Ionic, utilizando el sistema de control de versiones Git, el cliente de GitKraken, 
          el gestionador de proyecto kanban trello para crear applicaciones 
          web y UX mobiles y de escritorio orientadas a las necesidades del cliente. Tambien interesado en ayudar a las comunidades que sufren, padecen y lidian por la falta de 
          compromiso de sus gobernantes.
        </h2>
      </div>
      <a class="anchor__link--continue subtitle is-6" href="javascript:void(0);"  (click)="goToPortofolio($event)" >Continuar >></a>
    </div>
</section>