<section class="hero has-background-light is-fullheight">
    <div class="hero-body custom-body">
      <div class="container">
          <h1 class="title is-3 title__font--Timmana"> Documentando la realidad de Venezuela </h1>
          <section class="section">
            <div class="container">
              <h2 class="title">
                <a href="https://www.instagram.com/viajeguiaviajesombra/"> <i class="fab fa-instagram"></i> Instagram </a> 
              </h2>
            </div>
          </section>
          
          <h1 class="title is-3 title__font--Timmana" style="padding-top:2rem"> Ponente en el Felaa XV </h1>

          <section class="section">
            <div class="container">
              <h2 class="title">
                <a href="https://www.facebook.com/groups/FelaaElSalvador2019/?fref=nf&__xts__[0]=68.ARDTr8gfXfrXdQ_zddZ6V7RBbOGyrjdsc8RhpofHHfVEKj39yIFhxrAnbu4_gX87VcKFuUdJ3cAcpUvGsB08HKdmfGGlcNkOHsn4aRLcRG-sq5VseEFNR9gLQj5v2gPIYkacbOZGri4v_qw4_gqYvG878eb41zrrahy0hOyH5g4X3kh9LLyi7g&__tn__=C-R"> <i class="fab fa-facebook"></i> Facebook </a> 
              </h2>
            </div>
          </section>
         
        </div>
        <a class="anchor__link--continue subtitle is-6" href="javascript:void(0);"  (click)="$event.preventDefault(); goToHome($event)" > Ir a Home >></a>
      </div>
  </section>
  