<section class="hero has-background-light is-fullheight">
    <div class="hero-body custom-body">
      <div class="container">
          <h1 class="title is-4 title__font--Timmana"> Documentando la realidad de Venezuela </h1>
          <section class="">
            <div class="container">
              <h2 class="subtitle">
                <a href="https://www.instagram.com/viajeguiaviajesombra/"> <i class="fab fa-instagram"></i> Instagram </a> 
              </h2>
            </div>
          </section>
          
          <h1 class="title is-4 title__font--Timmana" style="padding-top:1rem"> Ponente en el Felaa XV </h1>

          <section class="">
            <div class="container">
              <h2 class="subtitle">
                <a href="https://www.facebook.com/groups/FelaaElSalvador2019/?fref=nf&__xts__[0]=68.ARDTr8gfXfrXdQ_zddZ6V7RBbOGyrjdsc8RhpofHHfVEKj39yIFhxrAnbu4_gX87VcKFuUdJ3cAcpUvGsB08HKdmfGGlcNkOHsn4aRLcRG-sq5VseEFNR9gLQj5v2gPIYkacbOZGri4v_qw4_gqYvG878eb41zrrahy0hOyH5g4X3kh9LLyi7g&__tn__=C-R"> <i class="fab fa-facebook"></i> Facebook </a> 
              </h2>
            </div>
          </section>

          <h2 class="subtitle is-6" style="padding-top:1rem">
            ¿Deseas comunicarte conmigo para hablar de ideas o proyectos interesantes?
          </h2>

          <a class="button is-primary" href="https://www.messenger.com/t/eulier.gonzalez">
            <span>Salúdame por Messenger</span> 
            <span class="icon">
              <i class="fab fa-facebook-messenger"></i>
            </span>
          </a>

          <hr>

          <a class="button is-primary" href="javascript:void(0);" (click)="showEmailContact = true" >
            <span>Envíame un email </span> 
            <span class="icon">
              <i class="fas fa-envelope"></i>
            </span>
          </a>
            
            <form [formGroup]="contactForm" class="animated" *ngIf="showEmailContact" [ngClass]="{
              'fadeInDown' : showEmailContact,
              'fadeDownUp' : !showEmailContact
            }" >
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input" formControlName="name" type="text" placeholder="Nombre" value="" minlength="2" >
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span *ngIf="contactForm.get('name').valid" class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
                  </span>
                  <span *ngIf="!contactForm.get('name').valid && (contactForm.get('name').dirty || contactForm.get('name').touched)" class="icon is-small is-right has-text-warning">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
              </div>
              
              <div class="field">
                <div class="control has-icons-left has-icons-right">
                  <input class="input" formControlName="email" type="email" placeholder="Email" value="">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span *ngIf="contactForm.get('email').valid" class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
                  </span>
                  <span *ngIf="!contactForm.get('email').valid && (contactForm.get('email').dirty || contactForm.get('email').touched)" class="icon is-small is-right has-text-warning">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span>
                </div>
              </div>
              
              <div class="field">
                <div class="control">
                  <textarea class="textarea" 
                  [ngClass]=" {
                    'is-sucess':contactForm.get('comment').valid,
                    'is-warning':!contactForm.get('comment').valid && (contactForm.get('comment').dirty || contactForm.get('comment').touched)
                  } "
                  formControlName="comment" placeholder="Comentario"></textarea>
                </div>
              </div>
              
              <div class="field is-grouped">
                  <button [ngClass]="{'is-disabled' : !contactForm.valid }" [disabled]="!contactForm.valid" (click)="sendEmail()" class="button is-link " style="width: 100%">
                    <span>Enviar</span> 
                  </button>
              </div>
            </form>
        </div>
        <a class="anchor__link--continue subtitle is-6" href="javascript:void(0);"  (click)="$event.preventDefault(); goToHome($event)" > Ir a Home >></a>
      </div>
  </section>
  