<section class="">
    <h1 class="title"></h1>
    <h2 class="subtitle">
      Comencé en el diseño y desarrollo web hace 3 años, con <i class="fab fa-php"></i> utilizando el framework 
      <i class="fab fa-laravel"></i> en una intranet, y a su vez <i class="fab fa-js"></i> e interesado mas en este último lenguaje,
      empleando a <i class="fab fa-linux"></i> como S.O. de desarrollo,  para luego abordar a angulajs y finalmente
      <i class="fab fa-angular"></i>, de la mano de Ionic, utilizando el sistema de control de versiones <i class="fab fa-git"></i>, el cliente de <i class="fab fa-gitkraken"></i>, 
      el gestionador de proyecto kanban <i class="fab fa-trello"></i> para crear applicaciones 
      web <i class="fas fa-desktop"></i> y <i class="fas fa-mobile-alt"></i> orientadas 
      a las necesidades del cliente. Interesado en ayudar a las comunidades que sufren, padecen y lidian por la falta de 
      compromiso de sus gobernantes.
    </h2>
</section>