<!-- <p>
  Primer trabajo, el cliente quería una intranet de compra y venta de vehiculos. Utilice Webflow para el diseño, Laravel (Php), Jquery y PostgresSQL.
  <figure class="image is-4by3">
    <img class="" src="../assets/img/portfolio1.1.png">
  </figure>

</p>

<p>
  Sistema gestionador de radios, trabajando como Front-end, utilizando Angular.
</p>

<p>
  Desarrollo Móvil como Front-end utilizando Ionic 1, de restaurantes.
    - Mostrar un timeline menu de restaurantes cercanos a su posición
    - Buscar restaurantes por nombres, precio, calificación y su posición cercana utilizando Google Maps
    - Enviar una calificación al restaurante
</p> -->
<h1> Actualizando, pronto en linea ;) </h1>