figure 
    display: inline-block
    margin-bottom: 1.5rem

a   
    font-size: 0.9rem !important
    line-height: 3rem
    word-spacing: 1rem

.country-flag
    width : 1rem 

.displayNone
    display: none;
    flex: none;

.renderArticle
    flex: none;
    width: 50%;

.navigation__item
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    
    div
        padding-left: 1vw;
        padding-right: 1vw;

.footer
    padding: 1rem
    margin-bottom: 0