<section class="hero has-background-light is-fullheight">
  <div class="hero-body custom-body">
    <div class="container">
        <h1 class="title is-3 title__font--Timmana"> Experiencia en </h1>
        <h1 class="title is-4 has-text-left">
          Tecnologías Web
        </h1>
        <ul class="has-text-left">
          <li><p><i class="fas fa-check-square has-text-success"></i> Html </p></li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Css </p></li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Js </p></li>
        </ul>
        <h1 class="title is-4 has-text-left">
          Framework
        </h1>
        <ul class="has-text-left">
          <li><p><i class="fas fa-check-square has-text-success"></i> Sass</p></li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Angular</p></li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Ionic</p></li>
        </ul>
        <h1 class="title is-4 has-text-left">
          Otros
        </h1>
        <ul class="has-text-left">
          <li><p><i class="fas fa-check-square has-text-success"></i> Figma 
            <a href="https://www.figma.com/file/NkFAdFgiLJuyGGLiZfiE02Cz/Mobile-and-Tablet-design?node-id=0%3A1">
              (Prototipo de esta aplicación web)
            </a> 
            </p>
          </li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Git</p></li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Linux</p></li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Visual Studio Code</p></li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Español - Nativo</p></li>
          <li><p><i class="fas fa-check-square has-text-success"></i> Ingles - Fluido</p></li>
        </ul>
       
      </div>
      <a class="anchor__link--continue subtitle is-6" href="javascript:void(0);"  (click)=" goToOthers($event)" >Continuar >></a>
    </div>
</section>
